<!-- <section class="py-12 bg-gray-50">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-semibold text-gray-800 text-center mb-10">You May Also Like</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div *ngFor="let product of products"
                class="bg-white rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg">
                <div class="p-4">
                    <img [src]="product.image_url" alt="{{ product.product_name }}"
                        class="h-48 w-full object-cover rounded-md mb-4">
                    <h3 class="text-lg font-medium text-gray-800">{{ product.product_name | titlecase }}</h3>
                    <p class="text-sm text-gray-500 mt-1">{{ product?.description }}</p>
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-lg font-semibold text-gray-700">{{ product.price | currency }}</span>
                        <button (click)="addToCart(product)"
                            class="px-4 py-2 bg-pink-500 text-white rounded-lg hover:bg-pink-600 focus:outline-none">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="py-12 bg-gray-50">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-semibold text-gray-800 text-center mb-10">You May Also Like</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div *ngFor="let product of filteredProducts"
                class="bg-white rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg">
                <div class="p-4">
                    <img [src]="product.image_url" alt="{{ product.product_name }}"
                        class="h-48 w-full object-cover rounded-md mb-4">
                    <h3 class="text-lg font-medium text-gray-800">{{ product.product_name | titlecase }}</h3>
                    <p class="text-sm text-gray-500 mt-1">{{ product?.description }}</p>
                    <div class="flex items-center justify-between mt-4">
                        <span class="text-lg font-semibold text-gray-700">{{ product.price | currency }}</span>
                        <button (click)="addToCart(product)"
                            class="px-4 py-2 bg-pink-500 text-white rounded-lg hover:bg-pink-600 focus:outline-none">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
